<div class="artist-detail" *ngIf="artist">
  <h2 class="text-center detail-title mb-4">
    <a class="name" href="{{ artist.link }}" target="_blank">
      {{ artist.name }}
    </a>
  </h2>

  <div class="image-container mb-4">
    <img
      *ngFor="let image of artist.images"
      src="{{image}}"
    />
  </div>

  <div class="bio mb-4" [innerHTML]="artist.bio"></div>

  <iframe
    class="mb-4"
    *ngIf="artist.soundcloud"
    [width]="iframeWidth" [height]="iframeHeight"
    scrolling="no"
    frameborder="no"
    [src]="artist.soundcloud | iframe">
  </iframe>

  <iframe
    class="mb-4"
    *ngIf="artist.spotify"
    [src]="artist.spotify | iframe"
    [width]="iframeWidth" [height]="iframeHeight"
    frameborder="0" allowtransparency="true">
  </iframe>

</div>
