<footer class="container footer">
  <div class="icons">
    <a href="https://handofdeathrecords.bandcamp.com/" class="icon-link" target="_blank">
      <img class="icon bandcamp" src="assets/bandcamp.png" />
    </a>
    <a href="https://www.facebook.com/handofdeathrecords/" class="icon-link" target="_blank">
      <img class="icon facebook" src="assets/facebook.png" />
    </a>
    <a href="https://www.instagram.com/handofdeathrecords/" class="icon-link" target="_blank">
      <img class="icon instagram" src="assets/instagram.png" />
    </a>
    <a href="https://twitter.com/handofdeathrecs" class="icon-link" target="_blank">
      <img class="icon twitter" src="assets/twitter.png" />
    </a>
    <a href="https://www.youtube.com/channel/UCCXL5YttlIfvvG1l1reVuqw" class="icon-link" target="_blank">
      <img class="icon youtube" src="assets/youtube.png" />
    </a>
  </div>
</footer>
