.tour-component {
  overflow: hidden;
  height: 80vh;
  padding: 10px 20px 20px 20px;
}

.songkick-container {
  margin-bottom: 10px;
}

.songkick {
  height: 50px;
}

@media(max-width: 767px) {
  .preview {
    height: 25vh;
    overflow-y: auto;
  }
}
