<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div ngbDropdown class="navbar-header">
      <button ngbDropdownToggle type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img class="menu-image" src="../../assets/img/header.png" />
      </a>
      <div ngbDropdownMenu class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
            <a href="https://www.storenvy.com/stores/22383-hand-of-death-records"
              class="link" target="_blank">Store</a>
          </li>
          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/releases" class="link">Discography</a>
          </li>
          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/tour" class="link">Tour Dates</a>
          </li>
          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/artists" class="link">Artists</a>
          </li>
          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/about" class="link">Info</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
