<div class="artist-detail" *ngIf="artist">
  <h2 class="artist-detail-title">
    <a class="artist-detail-link" href="{{ artist.link }}" target="_blank">
      {{ artist.name }}
    </a>
  </h2>

  <iframe
    *ngIf="artist.soundcloud"
    width="90%"
    height="250"
    scrolling="no"
    frameborder="no"
    [src]="artist.soundcloud | iframe">
  </iframe>

  <iframe
    *ngIf="artist.spotify"
    [src]="artist.spotify | iframe"
    [width]="iframeWidth" [height]="iframeHeight"
    frameborder="0" allowtransparency="true">
  </iframe>

  <div class="artist-detail-bio"
    [innerHTML]="artist.bio">
  </div>

  <div class="pictures">
    <img
      *ngFor="let image of artist.images"
      class="artist-picture"
      src="{{image}}" />
  </div>

</div>
