.artist-detail {
  /* height: 100vh; */
  /* overflow-x: hidden; */
  /* overflow-y: auto; */
  position: relative;
  /* hack to hide scrollbar */
  /* padding-right: 30px; */
  /* margin-right: -50px; */
  /* show the whole thing */
  /* padding-bottom: 200px; */

  color: #ddd;
}

.artist-detail-title {
  margin-top: 0px;
  margin-bottom: 20px;
}

.pictures {
  flex: 1;
  flex-wrap: wrap;
}

.artist-picture {
  width: 400px;
  margin: 20px;
}

.artist-detail-bio {
  margin: 20px 0;
}

.links {

}

.artist-detail-link {
  color: #ddd;
}
.artist-detail-link:hover {
  color: #ddd;
  text-decoration: none;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 1)!important;
}

iframe {
  margin: 20px 0;
}

@media(max-width: 767px) {
  .artist-detail {
    /* padding-bottom: 50vh; */
  }

  .artist-picture {
    max-width: 70vw;
    display: block;
    margin: 10 auto;
  }
}
