<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      Hand of Death Records
    </a>

    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbar()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          class="nav-item"
        >
          <a
            href="https://www.storenvy.com/stores/22383-hand-of-death-records"
            class="nav-link"
            target="_blank"
          >Store</a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          class="nav-item"
        >
          <a routerLink="/releases" class="nav-link">Discography</a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          class="nav-item"
        >
          <a routerLink="/tour" class="nav-link">Tour Dates</a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          class="nav-item"
        >
          <a routerLink="/artists" class="nav-link">Artists</a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          class="nav-item"
        >
          <a routerLink="/about" class="nav-link">Info</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
