.article-preview {

}
.article-preview-title {

}
.article-preview-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.article-image {
  height: 250px;
  max-width: 350px;
}

.article-preview-body {
  height: 250px;
  padding: 20px;
  overflow: hidden;
}
