<div class="tour-detail" *ngIf="tourDates">
  <table class="table table-dark" *ngIf="tourDates.length">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Location</th>
        <th scope="col">Info</th>
        <th scope="col">Tickets</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let date of tourDates">
        <th scope="row">{{ date.eventDate.toLocaleDateString() }}</th>
        <td>{{ date.eventCity}}</td>
        <td>{{ date.eventName }}</td>
        <td>
          <a class="buy" href="{{date.eventLink}}" target="_blank">
            Buy tickets
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="!tourDates.length">
    The artist currently has no tour dates
  </p>

</div>
