<div class="footer">
  <div class="icons">
    <a href="" class="icon-link" target="_blank">
      <img class="icon bandcamp" src="../../../assets/img/bandcamp.png" />
    </a>
    <a href="https://www.facebook.com/handofdeathrecords/" class="icon-link" target="_blank">
      <img class="icon facebook" src="../../../assets/img/facebook.png" />
    </a>
    <a href="" class="icon-link" target="_blank">
      <img class="icon instagram" src="../../../assets/img/instagram.png" />
    </a>
    <a href="" class="icon-link" target="_blank">
      <img class="icon twitter" src="../../../assets/img/twitter.png" />
    </a>
    <a href="https://www.youtube.com/channel/UCCXL5YttlIfvvG1l1reVuqw" class="icon-link" target="_blank">
      <img class="icon youtube" src="../../../assets/img/youtube.png" />
    </a>
  </div>
</div>
