.article-detail {

}
.article-detail-title {

}
/*.article-detail-image {
  max-height: 400px;
  max-width: 400px;
}*/
.article-detail-body {

}

/*.article-detail-links {
  list-style-type: none;
}
.article-detail-link {

}*/

/*.article-detail-tags {
  list-style-type: none;
}
.article-detail-tags, .article-detail-tag {
  display: inline;
}
.article-detail-tag {

}*/
