<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <a href="http://errorrecords.storenvy.com/collections/1355454-hand-of-death"
            class="link" target="_blank">Store</a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/releases" class="link">Discography</a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/tour" class="link">Tour Dates</a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/artists" class="link">Artists</a>
        </li>
        <!-- <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/news" class="link">News</a>
        </li> -->
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/about" class="link">Info</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
