html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.page {
  padding: 0 2vw;
}

@media (max-width: 767px) {
  .page {
    width: 100%;
    padding: 0;
  }
}
