.header-container {
  text-align: center;
}

.header-link:hover {
  text-decoration: none;
}

.header-image {
  height: 100px;
}

@media (max-width: 767px) {
  .header-image {
    width: 70vw;
    margin-top: 20px;
    margin-left: -15vw;
  }
}
