<div class="release-detail" *ngIf="release">
  <h2 class="release-detail-title">
    {{ release.releaseNumber }}: {{ release.artist }} - {{ release.title }}
  </h2>
  <!-- hack for different domains -->
  <!-- <img class="album-art" [src]="release.albumArt | imageString" /> -->
  <img class="album-art" src="{{release.albumArtLarge}}" />
  <!-- Create inside of div in CMS-->
  <div class="release-detail-description"
    [innerHTML]="release.description">
  </div>

  <iframe
    *ngIf="release.soundcloud"
    width="90%"
    height="250"
    scrolling="no"
    frameborder="no"
    [src]="release.soundcloud | iframe">
  </iframe>

  <iframe
    *ngIf="release.spotify"
    [src]="release.spotify | iframe"
    width="380" height="380"
    frameborder="0" allowtransparency="true">
  </iframe>
  <div class="links">
    <a class="release-detail-link" href="{{ release.linkStore }}" target="_blank">Band site</a>
    <a class="release-detail-link" href="{{ release.linkSite }}" target="_blank">Buy album</a>
  </div>
</div>
