<div *ngIf="release">
  <h2>
    {{ release.releaseNumber }}: {{ release.artist }} - {{ release.title }}
  </h2>
  <img class="album-art" src="{{ release.albumArtLarge }}" />
  <div [innerHTML]="release.description"></div>

<!-- TODO: set iframe size -->
  <iframe
    *ngIf="release.soundcloud"
    width="90%"
    height="250"
    scrolling="no"
    frameborder="no"
    [src]="release.soundcloud | iframe">
  </iframe>

  <iframe
    *ngIf="release.spotify"
    [src]="release.spotify | iframe"
    width="380" height="380"
    frameborder="0" allowtransparency="true">
  </iframe>

  <div>
    <a href="{{ release.linkToSite }}" target="_blank">Band site</a>
    <a href="{{ release.linkToStore }}" target="_blank">Buy album</a>
  </div>
</div>
